/*overall settings*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("images/background.jpg") fixed center/cover no-repeat;
    text-align: center;
    color: #75BBDA;
    font-family: Fantasy;
}

#app_title::before {
    width: 30%;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: bold;
    content: "سامانه مدیریت مشتریان بانک ";
    color: azure;
    display: inline-block;
}

input {
    border-radius: 25px;
    padding: 1%;
    border: none;
    outline: none;
    max-width: 100%;
    color: #5488b2;
    text-align: center;
    font-size: medium;
    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: steelblue;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #89CAE2;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #89CAE2;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #89CAE2;
}

a {
    text-decoration: none;
    color: azure;
}

#content_wrapper{
    background: aliceblue;
    width: 34%;
    padding: 2% 2% 1%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4% ;
}


/* form css */
.form_wrapper {
    font-size: large;
    padding-bottom: 5%;
}

.return_home_button {
    float: left;
    display: inline-block;
    width: 15%;
}

.form_wrapper label {
    display: block;
    margin-bottom: 2%;
}

.submit-button {
    min-width: 24%;
    margin-top: 4%;
    cursor: pointer;
    background: #80c2ec;
    background: #6eb9e7;
    font-size: large;
    color: azure;
}

.date-wrapper {
    width: 100%;
    margin-top: 1%;
}

.date-wrapper input {
    display: inline;
    width: 16%;
    min-width: 45px;
    margin: 1% 0;
    border-radius: 0;
}

.date-wrapper input:first-child {
    border-radius: 0 25px 25px 0;
}

.date-wrapper input:last-child {
    border-radius: 25px 0 0 25px;
}

#form_title_wrapper{
    max-width: 150px;
    float: right;
    font-size: large;
    font-weight: bold;
    color: #75BBDA;
    border: 1px solid lightblue;
    border-top: 2px solid orange;
    border-bottom: 1px solid aliceblue;
    padding: 2%;
}

.form_content {
    display: none;
    border-top: 1px solid #89CAE2;
    padding-top: 6%;
}

#registration_form_wrapper{
    display: inline-block;
    width: 100%;
    margin-top: -1px;
}

/* home page css */
#home_page_title{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    color: #def4fd;
    font-family: "JetBrains Mono ExtraBold";
    font-size: xxx-large;
    margin-top: 10%;
}
#home_options_wrapper {
    font-size: small;
    margin-top: 4%;
    width: 60%;
    height: 28%;
    position: fixed;
    transform: translateX(-33.33%);
    display: flex;
}

.home_option {
    background: #eff3f6;
    float: left;
    width: 33.33%;
    text-align: center;
    margin: 1%;
    border-radius: 10%;
}

.home_option img{
    background-color: #d6f1ff;
    background-color: #cce5f8;
    width: 30%;
    padding: 2%;
    min-width: 50px ;
    margin-top: 10%;
    border-radius: 50%;
}

.home_option h1{
    height: 100%;
    width: 100%;
    margin-top: 3%;
    color: #77a6cb;
    font-size:x-large;
    font-weight: normal;
}

/* search page css */
#search_box_wrapper div {
    display: inline-block;
    width: 100%;
    padding: 3%;
}

#search_domain_wrapper{
    border-top: 1px solid lightblue;
    display: inline-block;
    margin-top: -1px;
    text-align: right;
    font-size: large;
    width: 100%;
    padding: 4% 4% 1%;
}

#search_domain_wrapper select {
    border-radius: 25px;
    border: none;
    font-size: 15px;
    color: #75BBDA;
    outline: none;
    padding: 1%;
}

/* search result page css */
#result_table_wrapper {
    display: inline-block;
    width: 90%;
    overflow-x: auto;
}

#result_table_wrapper table {
    max-width: 100%;
    min-width: 60%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #75BBDA;
    color: #206a94;
    font-family: "Cambria Math";
    background-color: #eff3f6;
    table-layout: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;

}
#result_table_wrapper h2 {
    color: #eff3f6;
    margin-bottom: 0.5%;
    font-weight: normal;
}
td, th {
    padding: 8px;

}

th > img {
    width: 27px;
    padding: 0;
}

a > img {
    width: 25px;
    padding: 0;
}

th, td:nth-last-child(2) {
    border: 1px solid #75BBDA;
}

tr:nth-child(even) {
    background: #b7dcf2;
}

/* edit page css */
#edit_form_wrapper {
    width: 43%;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;

}

#edit_form_wrapper span {
    float: left;
}

#edit_image {
    opacity: 0.95;
    height: 370px;
    width: 43%;
    background-image: url("images/edit-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#edit_form {
    width: 57%;
    transform: translateY(25%);
}


