<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>ir.dotin.bank.cms.business.services.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>ir.dotin.bank.cms.business.services.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>ir.dotin.bank.cms.business.services.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>ir.dotin.bank.cms.business.services.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loanTypeDefinerServlet</servlet-name>
        <servlet-class>ir.dotin.bank.cms.business.services.LoanTypeDefinerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> LoanProfileRegistrarServlet </servlet-name>
        <servlet-class>ir.dotin.bank.cms.business.services.LoanProfileRegistrarServlet </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/legal-register</url-pattern>
        <url-pattern>/real-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loanTypeDefinerServlet</servlet-name>
        <url-pattern>/get-submitted-conditions</url-pattern>
        <url-pattern>/post-loan-type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanProfileRegistrarServlet</servlet-name>
        <url-pattern>/get-loan-types</url-pattern>
        <url-pattern>/get-customer-info</url-pattern>
        <url-pattern>/register-loan-profile </url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>